.fire-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 31px 160px;
    background-color: #ffffff;
    color: black;
}

.header h1 {
    margin: 0;
}

.sign-in-btn {
    background-color: white;
    color: #006A50;
    /* border: none; */
    border-style: solid;
    border-color: #006A50;
    border-radius: 8px;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    line-height: 21.6px;
}

/* Banner Section */
.banner {
    display: flex;
    padding: 40px;
    background-color: #e8f5e9;
    gap: 20px;
  }